.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0.1, 0, 0, 0.5);
}

.myModalContent {
  padding: 25px;
  background: #806f6f;
  border-radius: 16px;
  min-width: 750px;
  min-height: 350px;
  border: 1px solid #1fe338;
  box-shadow: 10px 5px 5px #25e75d;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;

  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 13px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(7, 6, 6);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
